<% if @input && (@result != "invalid expression!")%>
  <p> <%= @input %> = <%= @result %> </p>
<% end %>
<%= form_tag static_pages_calculate_path do %>
  <%= text_field_tag 'expression', @result, placeholder: 'expression here' %>
  <%= submit_tag 'calculate' %>
<% end %>
